<div class="hero-unit">
  <%= form_tag sessions_path, class: 'form-horizontal' do %>
    <div class="control-group">
      <%= label_tag :email, User.human_attribute_name(:email), class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :email, params[:email], placeholder: User.human_attribute_name(:email) %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :password, User.human_attribute_name(:password), class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :password, params[:password], placeholder: User.human_attribute_name(:password), type: 'password' %>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag t('signin'), :class => 'btn btn-primary'%>
      <%= link_to t('forgot_password'), new_password_reset_path, id: 'forgot-password' %>
    </div>
  <% end %>
</div>